body {
  color: #333;
  background-color: #F16664;
}


nav { 
  margin:0 Auto;
  border: 3px; 
  background-color: #F16664; 
  color:#464141;
  padding: 3px;
  display:flex;
  flex-wrap:wrap;   
  font-family:sans-serif; 
  width: 100%;
  top: 0; /* Position the navbar at the top of the page */
} 
a { 
  text-decoration:none; 
  color:white; 
  font-size:20px; 
  display:block;
  padding: 15px 25px;
  text-align: center;    
  background-color: #79CCCD;    
} 

.nav-bar { 
  text-align:center; 
  margin:30px 0; 
} 

.gfg { 
  font-size:40px; 
  color: #e01f3d; 
  font-weight:bold; 
  text-align:center; 
  font-family:sans-serif;
  /*background-color: #F16664;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.nav-bar { 
  text-align:center; 
  margin:30px 0; 
} 

img {
  max-width: 100%;
  height: auto;
  display: block;
  height: 60%;
  margin-left: auto;
  margin-right: auto;    
  padding: 10px;
}

section {
  background-color: #f2f1ef; 
}  
